*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#boxcolores{
    display: flex;
    padding: 70px 0px ;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#boxcolores select {
    padding: 10px 20px;
    border-radius: 10px;

}
#boxcolores button{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color:#10cfcf;
    border: none;
    color: white;
}
main{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: 500px;
    max-width: 1400px;
    margin: 30px auto 0 auto;
    border: 3px solid black;
    border-radius: 10px;
    flex-wrap: wrap;


}
.bolita{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    border: 2px solid black;

}
.equis{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    right: 0px;
    left: 0px;
    margin: auto;
    top: -10px;
    cursor: pointer;
}