* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
body{
    background-color: black;
}
#poster{
    position: relative;
    margin: 200px auto;
    width: 800px;
    height:600 ;
    background-color: aliceblue;
    overflow: hidden;
}
.poster1{
    width: 800px;
    height:200PX ;
    background-color: #0711D9;
    z-index: 0;
    position: absolute;
}
.castillo{
    position: absolute;
    z-index: 1;
    width: 714px;
    height: 523px;
}
.simbolo{
    position: absolute;
    z-index: 2;
    width: 111px;
    height: 111px;
}
.daco{
    position: absolute;
    z-index: 3;
    width: 230px;
    height: 212px;
}
.harry{
    position: absolute;
    z-index: 4;
    width: 298px;
    height: 273px;
}
.Hp{
    position: absolute;
    z-index: 5;
    width: 179px;
    height: max-content;
}