body{
    background-color: black;
}
.container{
    margin: 250px auto;
    width: 700px;
    height: 400px;
    background-color: #95e6ff;
    position: relative;
    overflow: hidden;
    
}
.sol{
    width: 100px;
    height: 100px;
    background-color: rgb(210, 195, 34);
    border-radius: 100%;
    position: absolute;
    right: 200px;
    bottom: 50px;
    /*animation: sol 5s linear infinite;*/
    z-index: 0;
}
.guia{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    right: 200px;
    bottom: 50px;
    /*animation: sol 5s linear infinite;*/
    z-index: 4;
    cursor: pointer;
}
.nube{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 300px;
    right: -1;
    z-index: 1;
}
.uno{
    width: 100px;
    height: 50px;

    position: absolute;
    bottom: 320px;
    right: 200px;
    /*animation: uno 4s linear infinite;*/


}
.dos{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 320px;
    right: 80px;
    /*animation: dos 5s linear infinite;*/

}
.tres{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 320px;
    right: 500px;
    /*animation: tres 5s linear infinite;*/


}
.cuatro{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 320px;
    right: 600px;
    /*animation: cuatro 5s linear infinite;*/


}
.montaña{
    width: 396px;
    height: 108px;
    position: absolute;
    bottom: 100px;
    right: 150px;
    z-index: 2;
}


@keyframes sol {
    from { 
        background: rgb(252, 248, 12); 

    }
    30% {
        
   background: rgb(205, 156, 23); 
   bottom: 280px;
    }
    100%{
        background: rgb(203, 135, 9);
        bottom: 480px;
    }
}

@keyframes uno {
    from{
        
    }
    50%{
        right: 400px;
    }
    100%{
        right: 600px;
    }
}
@keyframes tres {
    from{
        
    }
    50%{
        right: 300px;
    }
    100%{
        right: 100px;
    }
}
@keyframes cuatro {
    from{
        
    }
    50%{
        right: 400px;
    }
    100%{
        right: 200px;
    }
}
@keyframes dos {
    from{
        
    }
    50%{
        right: 80px;
    }
    100%{
        right: 500px;
    }
}


